@tailwind base;
@tailwind components;
@tailwind utilities;
@import './rehypePrettyCode.css';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 51, 255, 0.4);
}

::-webkit-scrollbar-track-piece:start {
  margin-top: 58px;
}
