code {
  counter-reset: line;
  color: var(--tw-prose-pre-code) !important;
  background-color: var(--tw-prose-pre-bg) !important;
}

pre > code {
  display: grid;
  width: 100%;
  overflow-x: auto;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);
  margin-right: 2rem;
  display: inline-block;
  width: 1rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > .line::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > .line::before {
  width: 3rem;
}

.prose-sm :where(pre):not(:where([class~='not-prose'] *)) {
  background-color: #1f2937 !important;
}
